---
layout: default
---

<h4>
  {% for speaker in page.speakers %}
    {% assign s = site.speakers | where: 'name', speaker | first %}
    <a href="{{ s.url }}">{{ s.name }}</a>{% if forloop.last == false %}, {% endif %}
  {% endfor %}
</h4>

<dl>
  <dt>Audience Level:</dt>
  <dd>{{ page.level }}</dd>

  {% if page.presentation_url %}
    <dt>Slides:</dt>
    <dd>{{ page.presentation_url }}</dd>
  {% endif %}

  {% if page.video_url %}
    <dt>Watch:</dt>
    <dd>{{ page.video_url }}</dd>
  {% endif %}
</dl>

<h3>Overview</h3>
{{ page.abstract | markdownify }}

<h3>Description</h3>
{{ content }}
